{% extends 'layout.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block stylesheets %}
<style>
.container-form{
    border: 1px solid rgb(6, 166, 194);
    margin: 5vh auto;
    border-radius: 5px;
}
body{
    background-color:#4db6ac;
}
</style>
{% endblock %}

{% block jquery %}
<script>
    //function for datepicker and timepicker in materialize
    $(document).ready(function () {
        console.log('work');
        var currYear = (new Date()).getFullYear();
        //format, language
        $('.datepicker').datepicker({
            yearRange: [currYear, currYear + 1],
            format: "dd-mm-yyyy",
            i18n: {
                months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                monthsShort: ["Jan", "Fév", "Mar", "Avr", "Mai", "Jun", "Jui", "Aoû", "Sep", "Oct", "Nov", "Déc"],
                weekdays: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                weekdaysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
                weekdaysAbbrev: ["D", "L", "M", "M", "J", "V", "S"]
            }
        });
        //format 24 hours
        $('.timepicker').timepicker({
            twelveHour: false,
        }
        //function for activate select input in materialize
        );
        $('select').formSelect();
    });
</script>
{% endblock %}

{% block main %}
<div class="container container-form z-depth-4 grey lighten-5">
    <div class="container">
    <h1>Créer un évènement</h1>

{{ include('event/_form.html.twig') }}

<a href="{{ path('event_index') }}">back to list</a>
</div>
</div>
{% endblock %}
