{% extends 'layout.html.twig' %}

{% block title %}{{ event.title}}{% endblock %}

{% block main %}
<div class="container">
    <h1>Event</h1>



    {% if app.user == event.author %}
    <div class="container-fluid row valign-wrapper">
        <div class="col s6">
    <a class="btn lime darken-1" href="{{ path('event_edit', {'id': event.id}) }}">MODIFIER</a>
</div>
<div class="col s6">
    {{ include('event/_delete_form.html.twig') }}
</div>

</div>
    {% endif %}
</div>

{% endblock %}
