{% extends 'layout.html.twig' %}

{% block title %}Hello BoardgamesListController!{% endblock %}

{% block main %}
<div class="container-fluid white section">
    <h1>Crée ta ludothèque !</h1>
</div>



{% endblock %}
{% block stylesheets %}
<style>
.section{
    padding: 40px 50px;
    margin-bottom: 10px;
    }
</style>
{% endblock %}