/* FONTS */
@font-face {
    font-family: "Good Morning";
    src: url("../fonts/GoodMorning.ttf");
}
@font-face {
    font-family: "Quicksand Regular";
    src: url("../fonts/Quicksand-Regular.ttf");
}
@font-face {
    font-family: "RedHatDisplay Regular";
    src: url("../fonts/RedHatDisplay-Regular.ttf");
}

/* FONTS STYLE */
body{
    font-family: "Quicksand Regular";
}
.text{
    font-size: 1.3em;
}

header{
    position: -webkit-sticky;
    position: sticky;
    z-index: 1;
    top: -1px;
}

#background{
    background-image: url("../img/puzzle-bg.jpg");
    background-attachment: fixed;
}
