{% extends 'base.html.twig' %}

{% block title %}Edit Boardgame{% endblock %}

{% block body %}
    <h1>Edit Boardgame</h1>

    {{ include('boardgame/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('boardgame_index') }}">back to list</a>

    {{ include('boardgame/_delete_form.html.twig') }}
{% endblock %}
