{% extends 'base.html.twig' %}

{% block title %}New Boardgame{% endblock %}

{% block body %}
    <h1>Create new Boardgame</h1>

    {{ include('boardgame/_form.html.twig') }}

    <a href="{{ path('boardgame_index') }}">back to list</a>
{% endblock %}
