{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}


<div class="white example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <div class="container-fluid row">
        <div class="col s2">
            <ul>
                <li>Dashboard</li>
                <li>Utilisateurs</li>
                <li>Évènements</li>
                <li>Jeux de société</li>
                <li>Bars</li>
            </ul>
        </div>
        <div class="col s8">
             contenu
        </div>

    </div>
</div>
{% endblock %}