{% block stylesheets %}
<style>
#footer{
    margin-top: -30px;
}
</style>
{% endblock %}
<div id="footer" class="page-footer red darken-2">
    <div class="container">
        <div class="row margin">
            <div class="col l1 l2 s12">
                <h6 class="white-text">JOINMYBOARD</h6>
                <p>Pour et par les passionés de jeux de société</p>
            </div>
            <div class="col l2 offset-l2 s12">
                <h6 class="white-text">ÉVÈNEMENTS</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Les prochains évènements</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Créer un évènement</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Mes évènements</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h6 class="white-text">COMMUNAUTÉ</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Mon profil</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Ma liste d'amis</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Messagerie</a></li>
                </ul>
            </div>
            <div class="col l2 s12">
                <h6 class="white-text">JEUX DE SOCIÉTÉ</h6>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Ma ludothèque</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="col s6">
                © 2020 Copyright - Sophie Lallemand
            </div>
        </div>
    </div>
</div>
