{% extends 'layout.html.twig' %}

{% block main %}
<h1>Bienvenue sur JoinmyBoard {{ app.user }}</h1>
<div class="container-fluid">
<h4>Les prochains évènements</h4>
<div class="row">
{% for event in eventsNext %}
{{ include("event/_event_block.html.twig")}}
{% endfor %}
</div class="container-fluid">
<h4>Les anciens évènements</h4>
<div class="row">
{% for event in eventsPrev %}
{{ include("event/_event_block.html.twig")}}
{% endfor %}
</div>
</div>
{% endblock %}