<nav>
    <div class="nav-wrapper">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="hide-on-med-and-down">
            <li><a href="#"><i class="material-icons left">home</i>Page d'accueil</a></li>
            <li><a href="#"><i class="material-icons left">account_circle</i>Mon profil</a></li>
            <li><a href="{{ path('event_new') }}"><i class="material-icons left">create</i>Créer un évènement</a>
            </li>
            <li><a href="#"><i class="material-icons left">group</i>Ma liste d'amis</a></li>
            <li><a href="#"><i class="material-icons left">casino</i>Ma ludothèque</a></li>
            <li><a href="#"><i class="material-icons left">date_range</i>Mes soirées</a></li>
            <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="#"><i class="material-icons left">home</i>Page d'accueil</a></li>
    <li><a href="#"><i class="material-icons left">account_circle</i>Mon profil</a></li>
    <li><a href="{{ path('event_new') }}"><i class="material-icons left">create</i>Créer un évènement</a>
    </li>
    <li><a href="#"><i class="material-icons left">group</i>Ma liste d'amis</a></li>
    <li><a href="#"><i class="material-icons left">casino</i>Ma ludothèque</a></li>
    <li><a href="#"><i class="material-icons left">truc</i>Mes soirées</a></li>
    <li><a href="{{ path('app_logout') }}"><i class="material-icons left">exit_to_app</i>Déconnexion</a></li>
</ul>