{% extends 'base.html.twig' %}

{% block body %}
{{ include('front/navbar.html.twig') }}
<main class="container">
{% block main %}{% endblock %}
</main>
<footer>
{{ include('front/footer.html.twig') }}
</footer>
{% endblock %}