{% extends 'base.html.twig' %}

{% block title %}Edit Bar{% endblock %}

{% block body %}
    <h1>Edit Bar</h1>

    {{ include('admin/bar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_bar_index') }}">back to list</a>

    {{ include('admin/bar/_delete_form.html.twig') }}
{% endblock %}
