{% extends 'base.html.twig' %}

{% block title %}New Bar{% endblock %}

{% block body %}
<div class="container-fluid dashboard-page white grey lighten-4">
    <div class="container-fluid row">
        {{ include('admin/menu_inc.html.twig') }}
        <div class="col s8 content white">
            <a class="btn grey darken-3 goback" href="{{ path('admin_bar_index') }}">retour</a>
            <h1>Formulaire d'ajout de bar</h1>

            {{ include('admin/bar/_form.html.twig') }}


        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    <style>
        .goback {
            margin-top: 50px;
        }
    </style>
{% endblock %}