{% extends 'layout.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block main %}
    <h1>Edit User</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">>Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
