{% extends 'layout.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block main %}
<div class="container edit-form z-depth-4">
    <h1>Modifier mon profil</h1>
    <div class="container-fluid row">
        <div class="col s6">
    {{ include('user/_form.html.twig', {'button_label': 'Éditer'}) }}

</div>
{% endblock %}
{% block stylesheets %}
<style>
    .edit-form {
        padding: 2%;
        margin: 2% auto;
    }
</style>
{% endblock %}